:root {
  --primary-color: rgb(255 253 244);
  --secondary-color: #485da9;
  --secondary-color-hover: #29376b;
  --tertiary-color: #444;
  --error-color: red;
  --border-color: #dbe5e6;
  --outline-color: #68becd;
  --shadow-color: rgb(34 60 80 / 20%);
  --font-family-main: "Rubik", sans-serif; //TODO: change family
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-weight-sm: 400;
  --font-weight-lg: 600;
}
